$beige: #FAF0CA;

//$mainYellow: #F4D35E;
$mainYellow: #F4D35E;

$mainBlue: #0D3B66;
// Switching it to green, but can't rename variable
//$mainBlue: #58d22a;
$darkGreen: $mainBlue;
$lightGreen: #60f860;


$lightOrange: #EE964B;
$darkOrange: #F95738;
