@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

//html, body{
//  font-family: 'Roboto', sans-serif;
//  overflow:hidden;
//  box-sizing: border-box;
//  background-color: rgb(1, 1, 1);
//  color:rgb(255, 255, 255)
//}

svg.d3 {
  background-color: #333;
  border: 2px;
  border-radius: 4px;
  margin: 0px auto -3px auto;
}

//h1 {
//  text-align: center;
//}

.d3-canvas {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2px;
  border-radius: 4px;
  width: fit-content;
  margin: 4px auto;
}

.x-positive-axis,
.x-negative-axis,
.y-positive-axis,
.y-negative-axis {
  color: aqua;


}
.x-axis,
.y-axis {
  font-weight: bold;
}

.theta {
  color: floralwhite;
}
.hypotenuse {
  stroke: rgb(230, 4, 255);
}
.sine {
  stroke: rgb(3, 240, 43);
}
.cosine {
  stroke: rgb(0, 81, 255);
}
.tangent {
  stroke:rgb(255, 196, 18)
}
.cotangent {
  stroke:rgb(219, 255, 18)
}
.ray-point {
  cursor: pointer;
  stroke: green;
  fill: green;
}
.arc-path {
  cursor: pointer;
  stroke: rgb(255, 255, 255);
  opacity: .2;
  fill: rgb(102, 102, 252);
}


/*
*   Slider configuration
*/
input {
  margin: auto;
}
.slidecontainer {
  margin: auto;
  width: min(100vw, 350px);
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 25px;
  background: #5e86f4;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 20px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 20px;
  background: black;
  cursor: pointer;
}